.DS_Store
node_modules
/build
/dist
/.svelte-kit
/package
.env
.env.*
!.env.example

packages/*/.DS_Store
packages/*/node_modules
packages/*/build
packages/*/dist
packages/*/.svelte-kit
packages/*/package
packages/*/.env
packages/*/.env.*
packages/*/!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

packages/*/pnpm-lock.yaml
packages/*/package-lock.json
packages/*/yarn.lock

# Cargo
/target
packages/*/src-tauri/target
packages/*/src-tauri/gen

# Storybook
*storybook.log
storybook-static
tailwind.css

packages/*/*storybook.log
packages/*/storybook-static
packages/*/.storybook/tailwind.css
