!.env.example
.devenv
.direnv
.DS_Store
.env
.env.*
/.svelte-kit
/build
/dist
/package
node_modules
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

packages/*/!.env.example
packages/*/.DS_Store
packages/*/.env
packages/*/.env.*
packages/*/.svelte-kit
packages/*/build
packages/*/dist
packages/*/package
packages/*/node_modules
packages/*/vite.config.js.timestamp-*
packages/*/vite.config.ts.timestamp-*
